@{
    ViewData["Title"] = "Home Page";
}
@model List<Dish>

<div class="text-center">
    <h1 class="display-4">Yum! Check out our tasty dishes!</h1>
    <hr>
    <div>
        <table class="table">
            <thead>
                    <tr>
                        <th>Name</th>
                        <th>Chef Name</th>
                        <th>Tastiness</th>
                        <th>Number of Calories</th>
                    </tr>
            </thead>
            <tbody>
                @{
                    foreach (Dish dish in Model)
                    {
                        <tr>
                            <td>@dish.Name</td>
                            <td>@dish.Creator?.FirstName @dish.Creator?.LastName</td>
                            <td>@dish.Tastiness</td>
                            <td>@dish.NumOfCalories</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
