@model User

<div>
    <div class="text-center">
        <h1>Successfully registered!</h1>
        <p>@Model.Name</p>
        <p>@Model.EmailAddress</p>
        <p>@ViewBag.Date</p>
        <p>@Model.Password</p>
        <p>@Model.FavoriteOddNumber</p>
    </div>
    <div>
        <button class="btn btn-bg-dark"><a href="/">Go Back</a></button>
    </div>
</div>
